.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
  row-gap: 10px;
  margin-bottom: 24px;
  font-size: 16px;
  padding: 24px 0;
}

.label {
  line-height: 1;
  color: var(--color-text-secondary);
}

.button,
.active {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
  line-height: 1;
}

.button:hover {
  opacity: 0.6;
}

.active {
  text-decoration: underline;
  text-underline-offset: 4px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .root {
    padding: 12px 0;
    justify-content: center;
    font-size: 18px;
    column-gap: 28px;
  }
}
