.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 12px;
  margin-bottom: 24px;
  font-size: 16px;
  padding: 24px 0;
}

.label {
  line-height: 1;
  color: var(--color-text-primary);
  flex-shrink: 0;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
  row-gap: 12px;
}

.button,
.active {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
  line-height: 1;
}

.button:hover {
  opacity: 0.6;
}

.active {
  color: var(--color-text-selected);
  text-underline-offset: 4px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .root {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 12px 0;
    font-size: 18px;
    column-gap: 28px;
    row-gap: 10px;
  }

  .buttons {
    column-gap: 28px;
    row-gap: 10px;
  }
}
