.root {
  width: 100%;
  scroll-margin-top: 96px;
}

.link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.imageWrap {
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}
